:host * {
  margin: 0;
  padding: 0;
}

:host section h3 {
  border-bottom: 5px solid rgb(103, 148, 183);
  text-transform: uppercase;
  font: bold 18px "Arial";
  color: rgb(103, 148, 183);
}

:host section .filter {
  position: relative;
  margin: 15px 0 30px 0;
  font: normal 12px Arial;
}

:host section .filter div {
  margin: 5px;
}

:host section input[type=submit] {
  margin-right: 10px;
  padding: 2px 5px;
  background-color: rgb(107, 154, 208);
  font: bold 12px "Arial";
  text-transform: uppercase;
  color: rgb(254, 254, 254);
  cursor: pointer;
  outline: 0;
}

:host section .filter .sources {
  position: relative;
  width: 66%;
  height: 15px;
  padding: 2px 1px;
  border: 1px solid rgb(175, 175, 175);
  cursor: pointer;
  overflow: hidden;
}

:host section .filter .sources::after {
  position: absolute;
  top: 2px;
  right: 5px;
  content: "▶";
}

:host section .filter .sources-window {
  position: absolute;
  top: 25px;
  left: 180px;
  width: 640px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(175, 175, 175);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, .5);
  z-index: 1;
}

:host section .filter .sources-list {
  border: 1px solid rgb(175, 175, 175);
  max-height: 250px;
  overflow: auto;
}

:host section .filter .sources-window h4~label:hover {
  cursor: pointer;
}

:host section .filter .sources-window label,
:host section .filter .sources-window input,
:host section .filter .sources-window select,
:host section .filter .sources-window div,
:host section .filter .sources-window h4 {
  margin: 5px;
}
