<div>
  <section class="form">
    <div>
        <label for="title">news title:</label>
      </div>
      <div>
        <input
          id="title" 
          type="text" 
          name="title"
          placeholder="enter your news title, please"
          [ngClass]="checkInput?{required:true}:{required:false}"
          [(ngModel)]="customNews.title">
      </div>
      <div>
        <label for="description">news description:</label>
      </div>
      <div>
        <textarea 
          id="description" 
          name="description"
          title="enter your news here"
          placeholder="enter your news, please"
          [ngClass]="checkTextarea?{required:true}:{required:false}"         
          [(ngModel)]="customNews.description"></textarea>
      </div>
      <div>
        <button (click)="addNews()">add</button>
    </div>
  </section>
  <section class="list" *ngFor="let item of customNewsArray">
      <h2>{{item.title}}</h2>
      <p>{{item.description}}</p>
      <button (click)="remove(item)">remove</button>
  </section>
</div>
